/* Box sizing rules */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
menu,
hr {
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

menu[role="list"],
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */

html:focus-within {
    scroll-behavior: smooth;
}
// Scrollbar styling
:is(html, body):has(dialog[open]) {
    overflow: hidden;
}

/* Set core body defaults */

body {
    min-height: 100svh;
    text-rendering: optimizeSpeed;
    line-height: 1.4;
    overflow-x: clip;
    display: grid;
    grid-template-rows: auto 1fr auto;
    scroll-behavior: smooth;
    & > * {
        max-width: 100vw;
        overflow-x: clip;
    }
}

/* A elements that don't have a class get default styles */

a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
    font: inherit;
}
body > main {
    min-height: 60lvh;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
ul,
ol {
    padding: 0;
    margin: 0;
}

button {
    border: none;
    background-color: white;
    translate: 0;
    transition: background-color 100ms linear, translate 50ms linear;
}
button:active {
    translate: 0 1px;
}
a {
    display: inline-block;
    font-size: 1rem;
    color: inherit;
    text-decoration: none;
}
hr {
    border-color: #c2c2c2;
}

dialog {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    appearance: none;
    overflow: clip scroll;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    scrollbar-width: 0;
    &::-webkit-scrollbar {
        display: none;
    }
    &:not([open]) > * {
        opacity: 0;
        animation: hideDialog 300ms ease-out forwards;
    }
    &::backdrop {
        background-color: color-mix(in srgb, transparent 30%, black);
    }
    &[open] > * {
        opacity: 0;
        animation: showDialog 300ms ease-out 100ms forwards;
    }
}

@keyframes hideDialog {
    from {
        opacity: 1;
        translate: 0;
    }
    to {
        opacity: 0;
        translate: 0;
    }
}
@keyframes showDialog {
    from {
        translate: 100px 0;
        opacity: 0;
    }
    to {
        translate: 0;
        opacity: 1;
    }
}

a {
    cursor: pointer;
}

summary {
    display: block;
}
details[open] summary ~ * {
    animation: sweep 250ms ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
        translate: -20px;
    }
    100% {
        opacity: 1;
        translate: 0px;
    }
}
